<!DOCTYPE html>
<html lang="en">
{% block body_content %}
        <head>
        <h1 align="center"> DarePhase </h1>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" align="center">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        </head>
	<style>
        input[type=button], input[type=submit], input[type=reset] {
        background-color: #90EE90;
        border-radius: 25px;
	text-color: #008CBA;
        color: black;
        padding: 20px;
	width: 100px;
	height:100px;
        margin: 4px 2px;
        cursor: pointer;
}
</style>
        <body>
		<body style="background-color:LightGray;"></body>
                <div class="form" align="center">
			<form method="POST" action="{{  url_for('generator') }}">
                        <div class="form-group">
                                {{ form.submit }}
                                <p>  {{ data.d0 }} </p>
                                <p><i> Playing {{ user_name }} <i><p>
                        </div>
			<div class="spinner-grow {{ choice }}"></div>

                </form>
                </div>
        </body>
{% endblock body_content %}
</html>           
